<h2>About</h2>

<div class="row">
  <div class="small-9 columns">
      <p><b>Cite & Write</b> is designed to help those who love to learn do better research, make stronger arguments, and focus on the process of creating new and original ideas based on solid research fundamentals.</p>

  </div>

  <div class="small-3 columns" style="text-align: center;">
    <i class="fa fa-book fa-4x" aria-hidden="true"></i>
  </div>
</dvi>

<hr>

<div class="row">
  <div class="small-3 columns" style="text-align: center;">
    <i class="fa fa-cloud fa-4x" style="margin-top: 0.25em;" aria-hidden="true"></i>
  </div>

  <div class="small-9 columns">
    <p>Familiarity with <b>21st Century Skills</b> is one of the most important gifts we can give students. No longer are a deck of notecards sufficient; <b>Cite & Write</b> provides access to research on any web-connected device with the ability to search, sort, and document all steps along the way which truly paves the way for 21st Century learning.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-9 columns">
      <p>One of the most important aspects of researching is giving credit where credit is due and <b>avoiding plagiarism</b>. <b>Cite & Write</b> actively encourages students to cite all of their work by requiring every note to be attached to its source, as well as helper functions to make generating bibliographies and citations as easy as possible!</p>
  </div>

  <div class="small-3 columns" style="text-align: center;">
    <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
  </div>
</dvi>

<hr>

<h3 style="margin: auto; width: 25%; margin-bottom: 20px;">Meet the creator!</h3>

<img src="http://jacobwesleysmith.com/assets/images/profile.png" style="border-radius: 50%; float: left; margin-right: 3%; height: 200px; margin-top: -6%;"/>

<p style="margin: 5px;">Hi! My name is Jacob Smith and I am the creator of Cite & Write. I have a passion for technology and education. Please don't hesitate to leave a message below if you have a question or suggestion for the site.</p>
<p>Thanks!</p>

<%= form_tag("feedback_form", remote: true, class: "medium-8 large-7 medium-centered columns") do %>
<fieldset class="static-form">
  <legend>Leave a message for Jacob!</legend>

  <%= hidden_field_tag "form", "feedback_form" %>
  <%= hidden_field_tag "form-id", SecureRandom.hex %>

  <%= label_tag "Name" %>
  <%= text_field_tag "name" %>

  <%= label_tag "Email or Phone (If you'd like me to contact you back)" %>
  <%= text_field_tag "email_or_phone" %>

  <%= label_tag "Question or Suggestion" %>
  <%= text_area_tag "question_or_suggestion", nil, rows: 3 %>

  <%= submit_tag "Submit",  class: "button radius" %>
</fieldset>
<% end %>
