<h2>For Teachers</h2>

<h4>Filter students by class and project</h4>
<div class="row">
  <div class="columns small-12 medium-8">
    <p>Cite & Write allows you to quickly and easily sort your students based on which class they're in and focus in on certain students or projects. You can even bookmark the page for quick access later.</p>
    <p>It also gives you a quick overview of how your students are doing - how many sources and notes each student has entered.</p>
  </div>

  <a href="#" data-reveal="" data-reveal-id="filter">
    <%= image_tag "filter.png", class: "small-12 medium-4" %>
  </a>

  <div id="filter" class="reveal-modal hide" data-reveal>
    <%= image_tag "filter.png"%>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<hr>

<h4>See individual student progress</h4>
<div class="row">
  <div class="columns small-12 medium-8">
    <p>You get a completely up-to-date view of your students' work and their progress. Gauge overall student progress and keep a special eye on students you know need a bit more help.</p>
    <p>Multiple teachers can also view student work and leave feedback. Imagine how great that could be for a homeroom teacher and a teacher doing one-on-one intervention to both have access to monitor student progress!</p>
  </div>
  <a href="#" data-reveal="" data-reveal-id="note-feedback">
    <%= image_tag "note_feedback.png", class: "small-12 medium-4" %>
  </a>

  <div id="note-feedback" class="reveal-modal hide" data-reveal>
    <%= image_tag "note_feedback.png" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<hr>

<h4>Leave feedback for students</h4>
<div class="row">
  <div class="columns small-12 medium-8">
    <p>Feedback is crucial for students to grow as researchers and writers. Leave feedback on their thesis, their sources, or any note they've written.</p>
    <p>You can also see whether or not students have acknowledged your feedback, and when. Gone is the excuse of "I didn't see that comment!"</p>
  </div>
  <a href="#" data-reveal="" data-reveal-id="teacher-feedback">
    <%= image_tag "teacher_feedback_unacknowledged.png", class: "small-12 medium-4" %>
  </a>

  <div id="teacher-feedback" class="reveal-modal hide" data-reveal>
    <%= image_tag "teacher_feedback_unacknowledged.png" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<p>
