<section class="home-page">
  <header>
    <h1 class="home-page__title"><span>Cite & Write</span></h1>
    <p class="home-page__subtitle">A better way to organize your research</p>
    <%= link_to "Sign up", new_user_registration_path, class: "button no-margin" %>
  </header>

  <div class="video-wrap">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KbPc7bWaprs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <section>
    <hr>
    <section class="row home-page__features">
      <section class="large-4 columns feature_card">
        <p class="feature-card heading">Let us cite your work</p>
        <%= image_tag 'home-page/icon-sources.svg', class: 'home-page__features__icon' %>
        <h3>Sources</h3>
        <p>Writing citations is hard. Cite & Write uses the power of <b>EasyBib</b> to tell you exactly what information you need from each source and then makes a citation for you!</p>
      </section>
      <section class="large-4 columns feature_card">
        <p class="feature-card heading">Search your notes</p>
        <%= image_tag 'home-page/icon-notes.svg', class: 'home-page__features__icon' %>
        <h3>Notes</h3>
        <p>Once you've started collecting your sources, start writing notes on them to build a catalog of your ideas. Add quotes from your sources or add your own ideas.</p>
      </section>
      <section class="large-4 columns feature_card">
        <p class="feature-card heading">Find information from different sources<p>
        <%= image_tag 'home-page/icon-tags.svg', class: 'home-page__features__icon' %>
        <h3>Tags</h3>
        <p>Tag the notes you write to keep them organized. Then find all your notes on aerodynamics, cell biology, or George Washington with one click.</p>
      </section>
    </section>
  </section>

  <hr>

  <section class="row">
    <div class="large-12 columns" style="text-align: center;">
      <%= link_to "Sign up", new_user_registration_path, class: "large button no-margin" %>
      <p style="margin-top: 10px;">Already have an account? <%= link_to "Log in!", new_user_session_path %></p>
    </div>
  </section>

  <section class="row">
    <p class="home-page__subtitle">
      Write better research papers today!
    </p>
  </section>
</section>
