<% url = @note.new_record? ? source_notes_path( @note.source ) : note_path( @note ) %>

<%= form_for([ @note.source, @note ], :url => url ) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-10 columns">
      <div class="small-2 columns"><%= f.label :quote, class: "right inline" %></div>
      <div class="small-10 columns"><%= f.text_area :quote, :autofocus => true %></div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 columns">
      <div class="small-2 columns"><%= f.label :comments, class: "right inline" %></div>
      <div class="small-10 columns"><%= f.text_area :comments %></div>
    </div>
  </div>

      <div class="row">
        <div class="small-offset-2 small-10 columns">
          <%= click_to_add_tags(@note) %>
        </div>
      </div>
      <br>

  <div class="row">
    <div class="small-10 columns">
      <div class="small-2 columns"><%= f.label :tags, "Tags (seperated by commas)", class: "right inline" %></div>
      <div class="small-10 columns"><%= f.text_field(:existing_tags) %></div>
    </div>
  </div>

  <div>
    <%= f.submit "Create note", class: "button radius" %>
  </div>
<% end %>
