<ul class="note-list">
  <% if @source && @source.notes != [] %>
    <% @source.notes.each do |note| %>
      <li>
        <div class="note">
          <p class="note__comments"><%= truncate(note.comments, :length => 100, :omission => '...') %></p>
          <p class="note__quote"><%= truncate(note.quote, :length => 100, :omission => '...') %></p>
          <p class="note__tags"><%= tag_list(note) %></p>
        </div>
      </li>
    <% end %>
  <% elsif @project && @project.notes != [] %>
    <% @project.notes.each do |note| %>
      <li>
      <div class="note">
        <p class="note__comments"><%= truncate(note.comments, :length => 100, :omission => '...') %></p>
        <p class="note__quote"><%= truncate(note.quote, :length => 100, :omission => '...') %></p>
        <p class="note__tags"><%= tag_list(note) %></p>
      </div>
      </li>
    <% end %>
  <% else %>
      <p> You need to add some notes to a source first! </p>
  <% end %>
  </ul>

