<div class="reveal-modal hide" id="select-source" data-reveal>
  <p style="font-size: 1.25em">Which source are you writing about?</p>
  <ul class="source-list">
    <% @project.sources.each do |source| %>
      <li class="source-list__item"><a href="<%= new_source_note_path(source) %>">
        <img src="<%= source.image_url %>" class="source-list__item__icon">
        <p class="source-list__item__title"><%= source.title or source.title %></p>
        <p><%= source.authors %></p>
        <p><%= pluralize(source.notes.length, "note") %></p>
      </a></li>
    <% end %>
   
    <li class="source-list__item"><a href="<%= new_project_source_path(@project) %>">
      <img class="source-list__item__icon">
      <p class="source-list__item__title">Create new source</p>
    </a></li>

    <a class="close-reveal-modal">Close</a>
  </ul>
</div>
