<% @notes = Source.find(params[:source_id]).notes %>

<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.quote %></td>
        <td><%= note.comments %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', destroy_note_path(note) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path(@notes.first) %>
