<% @source = Source.find(params[:source_id]) %>
<% @notes = @source.notes %>

<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Comments</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.quote %></td>
        <td><%= note.comments %></td>
        <td><%= note.tags %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note_path(note), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_source_note_path(@source) %> | 
<%= link_to 'Back to Source', source_path(@source) %>
