<% @source = Source.find(params[:source_id]) %>
<% @notes = @source.notes %>

<h1 class="phrase-title">Notes for "<%= @source.title %>"</h1>
<%= tag_list(@source) %>

<%= render 'note_list' %>

<%= link_to 'New Note', new_source_note_path(@source) %> | 
<%= link_to 'Back to Source', source_path(@source) %>
