<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.quote %></td>
        <td><%= note.comments %></td>
        <td><%= link_to 'Show', project_source_note_path(note.source.project, note.source, note) %></td>
        <td><%= link_to 'Edit', edit_project_source_note_path(note.source.project, note.source, note) %></td>
        <td><%= link_to 'Destroy', project_source_note_path(note.source.project, note.source, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_project_source_note_path %>
