<h1 class="page-title"></h1>

<div class="large note">
  <p class="note__comments"><%= @note.comments %></p>
  <p class="note__quote"><%= @note.quote %></p>
  <p class="note__source">Source: <%= link_to @note.source.display_title, source_path(@note.source) %></p>

  <%= tag_list(@note) %>

</div>

<div class="action-bar">
  <%= link_to 'Edit this note', edit_note_path(@note), :class => 'button' %>
  <%= link_to 'Delete', '#', :class => 'warning button' %>
</div>

<section>
  <h2><%= @note.source.display_title %></h2>
  <p class="subtitle">You've written <strong><%= @note.source.notes.length %> notes</strong> on this source. <%= link_to "View source »", source_path(@note.source) %></p>

  <%= render "notes/note_list" %>
</section>
