<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @note.quote %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @note.comments %>
</p>

<%= link_to 'Edit', edit_project_source_note_path(@note.source.project, @note.source, @note) %> |
<%= link_to 'Back', project_source_notes_path(@note.source.project, @note.source, @note) %>
