<% url = (action_name == "new" ? {:action=>"create", :controller=>"sources"} : {:action=>"update", :controller=>"sources"})%>

<%= form_for([ @source ], url: url) do |f| %>
<% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><small>Please select the type of resource below to continue. It helps us generate a custom MLA citation for you!</small></h3>

    <div class="row">
      <div class="small-1 columns"><%= f.label :type, "Type of resource", class: "right inline" %></div>
      <div class="small-11 columns" id="select"><%= f.select :source_type, [['Book', 'book'], ['Magazine', 'magazine'], ['Web', 'web']] %></div>
    </div>

    <!-- following are SourceHelper methods -->
  <% book_information.each do |entry| %>
    <div class="row book hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>
  
  <% magazine_information.each do |entry| %>
    <div class="row magazine hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>
  
  <% web_information.each do |entry| %>
    <div class="row web hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>
  
  <div class="row hide comments">
      <div class="small-1 columns"><%= f.label :comments, "Comments", class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_area :comments %></div>
  </div>


  <div class="actions hide submit">
    <%= f.submit "Create Source", class: "button radius" %>
  </div>
<% end %>

<script type="text/javascript">
  <% if !@source.new_record? %>
    show_proper_form ();
  <% end %>

  var select_menu = document.getElementById('select');

  select_menu.onclick = show_proper_form();
  
  function show_proper_form() {
    // show the submit button
    $('.submit').show();

    // show the comments section
    $('.comments').show();

    var book_entries = $('.book');
    var magazine_entries = $('.magazine');
    var web_entries = $('.web');

    book_entries.hide();
    magazine_entries.hide();
    web_entries.hide();
    select_option = $('select').val();
    $('.' + select_option).show();
  }
</script>
