<% url = (action_name == "new" ? {:action=>"create", :controller=>"sources"} : {:action=>"update", :controller=>"sources"})%>

<%= form_for([ @source ], url: url) do |f| %>
<% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><small>Please select the type of resource below to continue. It helps us generate a custom MLA citation for you!</small></h3>

  <br>

  <div class="row">
    <div class="small-4 columns text-center">
      <img src="/assets/sources/iconmonstr-book-17-icon.svg" onclick="sourceType('book'); return false;" id="bookLinkImage" width="100" height="100" />
      <a href="#" onclick="sourceType('book'); return false;" id="bookLink">Book</a>
    </div>

    <div class="small-4 columns text-center">
      <img src="/assets/sources/iconmonstr-book-20-icon.svg" onclick="sourceType('magazine'); return false;" id="magazineLinkImage" width="100" height="100" />
      <a href="#" onclick="sourceType('magazine'); return false;" id="magazineLink">Magazine</a>
    </div>

    <div class="small-4 columns text-center">
      <img src="/assets/sources/iconmonstr-globe-3-icon.svg" onclick="sourceType('web'); return false;" id="webLinkImage" width="75" height="75" />
      <a href="#" onclick="sourceType('web'); return false;" id="webLink">Web</a>
    </div>

  </div>

  <br>

    <!-- following are SourceHelper methods -->
  <% book_information.each do |entry| %>
    <div class="row book hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>

  <% magazine_information.each do |entry| %>
    <div class="row magazine hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>
  
  <% web_information.each do |entry| %>
    <div class="row web hide">
      <div class="small-1 columns"><%= f.label entry.to_sym, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field entry.to_sym %></div>
    </div>
  <% end %>


  <div class="hide row authors_div">

    </div>

  <a href="#" class="addAuthor hide" onclick="addAuthor(); return false;">Add Another Author</a>

  <div class="row hide comments">
      <div class="small-1 columns"><%= f.label :comments, "Comments", class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_area :comments %></div>
  </div>

  <%= f.hidden_field :source_type, value: "book" %>

  <div class="actions hide submit">
    <% button_text = @source.new_record? ? "Create Source" : "Update Source" %>
    <%= f.submit button_text, class: "button radius" %>
  </div>
<% end %>

  <script type="text/javascript">
    function sourceType(entryType) {
      <%# show the submit button %>
        $(".submit").show();

      <%# update our source_type value for citations %>
      $("#source_source_type").val(entryType);

      <%# show the comments section %>
        $('.comments').show();

        var book_entries = $('.book');
        var magazine_entries = $('.magazine');
        var web_entries = $('.web');

        book_entries.hide();
        magazine_entries.hide();
        web_entries.hide();
        $('.' + entryType).show();
        $('.authors_div').show();
        $('.addAuthor').show();
      }
    </script>

    <script type="text/javascript">

    function addAuthor() {
      var author_count = $(".authors_row").length;
      author_count++;

      var author_div = $(".authors_div");
      var authorFirst = "authorFirst#" + author_count;
      var authorLast = "authorLast#" + author_count;
    author_div.append('\
        <div class="row authors_row">\
          <div class="small-6 large-4 columns">\
            <div class="small-4 columns">\
              <label class="right inline" for="' + authorFirst + '">First</label>\
            </div>\
\
            <div class="small-8 columns">\
              <input class="authors" id="' + authorFirst + '" name="source[' + authorFirst + ']" type="text">\
            </div>\
        </div>\
\
        <div class="small-6 large-4 columns left">\
          <div class="small-4 columns">\
            <label class="right inline" for="' + authorLast + '">Last</label>\
          </div>\
\
          <div class="small-8 columns">\
            <input class="authors" id="' + authorLast + '" name="source[' + authorLast + ']" type="text">\
          </div>\
        </div>\
        </div>');
  }
  </script>

