<% url =  @source.new_record? ? project_sources_path(@source.project) : source_path(@source) %>
<%= form_for([ @source ], url: url , html: { :'data-sourceform' => '', :'data-sourcetype' => @source.source_type }) do |f| %>
<% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><small>Please select the type of resource below to continue. It helps us generate a custom MLA citation for you!</small></h3>
  <br>

  <ul class="source-edit-sourcetype">
    <li class="secondary button" data-sourcetype="book">
      Book or Encyclopedia
    </li>

    <li class="secondary button" data-sourcetype="magazine">
      Journal or Magazine
    </li>

    <li class="secondary button" data-sourcetype="web">
      Web Site
    </li>
  </ul>

  <br>
  
  <div class="googlebooks" data-fieldset="book" data-googlebooks>
    <h3>We'll help you find it!</h3>
    <p>Type in the name of the book below and we'll help you fill in the information below.</p>

    <div>
      <input type="text" class="googlebooks__searchfield" placeholder="Example: A Tale of Two Cities" data-googlebooks-searchfield>
      <a class="small button googlebooks__searchbutton" data-googlebooks-lookup>Find book</a>
    </div>

    <p class="googlebooks__status" data-googlebooks-status>Loading...</p>
    <ul class="googlebooks__results" data-googlebooks-results>
    </ul>
  </div>

  <fieldset class="source-edit__fieldset" data-fieldset="book">
    <legend>Book Information</legend>
    <% book_information.each do |entry| %>
      <div class="form-field">
        <%= f.label entry.to_sym %>
        <%= f.text_field entry.to_sym %>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="source-edit__fieldset" data-fieldset="magazine">
    <legend>Periodical Information</legend>
    <% magazine_information.each do |entry| %>
      <div class="form-field">
        <%= f.label entry.to_sym %>
        <%= f.text_field entry.to_sym %>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="source-edit__fieldset" data-fieldset="web">
    <legend>Web Site Information</legend>
    <% web_information.each do |entry| %>
      <div class="form-field">
        <%= f.label entry.to_sym %>
        <%= f.text_field entry.to_sym %>
      </div>
    <% end %>
  </fieldset>


  <fieldset class="authors-edit" data-authors>
    <legend>Authors</legend>
    <a data-authors-add class="authors-edit__add">Add an Author</a><a class="authors-edit__remove" data-authors-remove>Remove an Author</a>
  </fieldset>


  <fieldset class="hide source-edit__comments">
    <legend>Comments</legend>
    <%= f.text_area :comments %>
    <label style="font-style: italic;">Optional: write a little about this source.</label>
  </fieldset>

  <%= f.hidden_field :source_type, value: "book" %>
  <%= f.hidden_field :image_url, value: @source.image_url %>

  <% button_text = @source.new_record? ? "Create Source" : "Save Source" %>
  <%= f.submit button_text, class: "button radius" %>

<% end %>

<% content_for :javascript do %>

  <script type="text/javascript">
  $(function() {
    <% if !@source.new_record? %>
      <% authors = @source.authors.split(","); %>
      <% authors.each do |author| %>
        <% authorFirst = author.split[0] %>
        <% authorLast = author.split[1] %>
        $('.edit_source').trigger('sourceForm.addAuthor', ['<%= authorFirst %>', '<%= authorLast %>']);
      <% end %>
    <% else %>
      $('.edit_source').trigger('sourceForm.addAuthor');
    <% end %>
  });
  </script>

<% end %>

