<% url = (action_name == "new" ? {:action=>"create", :controller=>"sources"} : {:action=>"update", :controller=>"sources"})%>

<%= form_for([ @source ], url: url) do |f| %>
<% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="small-1 columns"><%= f.label :title, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field :title %></div>
  </div>
  
  <div class="row">
      <div class="small-1 columns"><%= f.label :author, class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field :author %></div>
  </div>
  
  <div class="row">
      <div class="small-1 columns"><%= f.label :url, "URL", class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_field :url %></div>
  </div>
  <div class="row">
      <div class="small-1 columns"><%= f.label :comments, "Comments", class: "right inline" %></div>
      <div class="small-11 columns"><%= f.text_area :comments %></div>
  </div>


  <div class="actions">
    <%= f.submit "Create Source", class: "button radius" %>
  </div>
<% end %>
