<% @project = Project.find(params[:project_id]) %>
<h1>Listing sources</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Url</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.sources.each do |source| %>
      <tr>
        <td><%= source.title %></td>
        <td><%= source.author %></td>
        <td><%= source.url %></td>
        <td><%= source.comments %></td>
        <td><%= link_to 'Show', source_path(source) %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source_path(source), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source', new_source_path(@project) %>

