<% @project = Project.find(params[:project_id]) %>

<% if @project.sources.length > 0 %>
  <div class="action-bar">
    <p class="subtitle">You've collected <strong><%= pluralize(@project.sources.length, "source") %></strong> for your research.</p>
    <%= link_to "Add a source", new_project_source_path(@project), class: "side button" %>
  </div>
  <ul class="source-list">
    <% @project.sources.each do |source| %>
      <li class="source-list__item"><a href="<%= source_path(source) %>">
        <img src="<%= source.image_url %>" class="source-list__item__icon">
        <p class="source-list__item__title"><%= source.display_title %></p>
        <p><%= source.authors %></p>
        <p><%= pluralize(source.notes.length, "note") %></p>
      </a></li>
    <% end %>  
  </ul>
<% else %>
  <div class="callout">
    <p>When you find a useful source for your research, you can add it to Cite & Write. A source can be a book, encyclopedia entry, journal, magazine, or website. We'll also help you cite it in your paper.</p>
    <%= link_to "Add a source", new_project_source_path(@project), class: "button" %>
  </div>
<% end %>
