<%
if !@source.image_url.empty?
  image_url = @source.image_url
elsif @source.source_type === 'book'
  image_url = asset_path('assets/sources/book-placeholder.jpg')
elsif @source.source_type === 'magazine'
  image_url = asset_path('assets/sources/journal-placeholder.jpg')
else
  image_url = asset_path('assets/sources/web-placeholder.jpg')
end
%>

<h1 class="page-title"><%= @source.display_title %></h1>

<div class="source-detail">
  <p class="source-detail__type">
    <%= @source.source_type %>
  </p>
  <div class="source-detail__thumb">
    <img src="<%= image_url %>" alt="">
  </div>
  <%= render 'source_detail' %>
  
  <div class="source-detail__actions">
    <%= link_to "Edit source", edit_source_path(@source), class: "small button" %>
    <%= link_to "Show citation", "#", class: "small secondary button" %>
  </div>
</div>

<div class="action-bar">
  <p class="subtitle">You've written <strong><%= pluralize(@source.notes.length, 'note') %></strong> about this source.</p>
  <%= link_to 'Add a Note', new_source_note_path(@source), class: "side button" %>
</div>

<%= render "notes/note_list" %>

<%= link_to 'Back', project_path(@source.project) %> |
<%= link_to 'Edit Source Information', edit_source_path(@source) %>
