<%= render "layouts/project_navigation" %>

<h1 class="page-title"><%= @source.display_title %></h1>

<div class="source-detail">
  <p class="source-detail__type">
    <%= @source.source_type %>
  </p>
  <div class="source-detail__thumb">
    <img src="<%= @source.image_url %>" alt="">
  </div>
  <%= render 'source_detail' %>

  <div class="source-detail__actions">
    <%= link_to "Edit source", edit_source_path(@source), class: "small button" %>
    <%= link_to "Show citation", "#", data: { reveal: '', reveal_id:"modal_#{@source.id}" }, class: "small secondary button" %>


  </div>
</div>

<%= create_modal(id="modal_#{@source.id}", @source.cite) %>


<div class="action-bar">
  <p class="subtitle">You've written <strong><%= pluralize(@source.notes.length, 'note') %></strong> about this source.</p>
  <%= link_to 'Add a note', new_source_note_path(@source), class: "side button" %>
</div>

<%= render "notes/note_list" %>
