<p id="notice"><%= notice %></p>

<h1><%= @source.title %></h1>

  <p>
  <%= original_link(@source) %>
  </p>
  <p>
    <%= @source.comments if @source.comments %>
  </p>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Comments</th>
      <th>Tags</th>
    </tr>
  </thead>
  <% @source.notes.each do |note| %>
    <tr>
      <th><%= note.quote %></th>
      <th><%= note.comments %></th>
      <th><%= tags_list(note) %></th>
    <% end %>
  </tr>
  <% if @source.notes.empty? %>
  <tr>
    <th>Please add a note below to begin.</th>
   <th></th>
   <th></th>
 </tr>
 <% end %>
</table>

<%= link_to 'Add Note', new_source_note_path( @source), class: "button radius" %> | 
<%= link_to 'Edit Source Information', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path(@source) %>
