<h1 class="page-title"><%= @source.title %></h1>
<img src="<%= @source.image_url %>" />

<div class="action-bar">
  <p class="subtitle">You've written <strong><%= pluralize(@source.notes.length, 'note') %></strong> about this source.</p>
  <%= link_to 'Add a Note', new_source_note_path(@source), class: "side button" %>
</div>

<%= render "notes/note_list" %>

<%= link_to 'Back', project_path(@source.project) %> |
<%= link_to 'Edit Source Information', edit_source_path(@source) %>
