<div class="login-form">

  <h1>Sign up</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= render "user_signup_form", f: f %>

    <div><%= f.submit "Sign up", class: "button submit radius" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
