<%= form_for(@user, url: user_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>


  <h3><small>Can other members search for you by your username?</small></h3>
  <div class="row">
    
    <div class="small-2 columns">
      <%= f.label :searchable, "Yes" %>
      <%= f.radio_button :searchable, 'true', checked: true %>
    </div>
   
    <div class="small-2 columns">
      <%= f.label :searchable, "No" %>
      <%= f.radio_button :searchable, 'false' %>
    </div>

    <div class="small-8 columns"></div>
  </div>

  <%= f.submit "Update Information", class: "button radius" %>
<% end %>

