<%= form_for(@user, url: user_path) do |f| %>

  <p>Your current plan allows for <%= current_user.current_plan.humanize %>.</p>
   <%= link_to "Change your plan", view_plans_path, class: "button" %>

  <fieldset>
    <legend>Info</legend>

    <div class="form-field">
      <%= f.label :email, "Email address" %>
      <%= f.text_field :email %>
    </div>
  </fieldset>


  <%= f.submit "Save profile", class: "button radius" %>
<% end %>
