<h3>Students</h3>

<div class="sections-filter">
  <%= form_for :sections, method: :get do |f| %>
    <%= f.label :section %>
    <%= select :section, :id, @sections.map { |s| [s.name, s.id] }, include_blank: true %>

    <%= f.submit "Filter", class: "button submit radius" %>
  <% end %>
</div>

<table>
  <thead>
    <th>Student Name</th>
    <th>Project Name</th>
    <th>Created</th>
    <th># of Sources</th>
    <th># of Notes</th>
  </thead>

  <tbody>
    <%= render partial: "students_table_entry", collection: @students, as: :student %>
  </tbody>
</table>
