<h3>Students</h3>

<div class="columns small-12 medium-4" style="float: right">
  <fieldset>
    <legend>Filter</legend>
    <div class="sections-filter">
      <%= form_for :sections, method: :get do |f| %>
        <%= f.label :section %>
        <%= select :section, :id, @sections.map { |s| [s.name, s.id] }, include_blank: true, selected: params.dig(:section, :id) %>

        <%= f.label :project_name %>
        <%= select :section_project, :id, @section_projects, include_blank: true, selected: params.dig(:section_project, :id) %>

        <%= f.submit "Filter", class: "button submit radius" %>

        <button style="float: right" class="button radius secondary small">
          <%= link_to "Clear", sections_path %>
        </button>
      <% end %>
    </div>
  </fieldset>

  <% if @filtered_sections.size == 1 %>
  <fieldset>
    <legend>Create a new project for <%= @filtered_sections.first.name %></legend>
      <p>This will create a new project for all of the students in <%= @filtered_sections.first.name %> and allow you to filter and view by just this project.</p>
      <%= form_tag create_section_project_path(@filtered_sections.first), method: :post do |f| %>
        <%= text_field_tag :project_name, nil, placeholder: "Project Name" %>

        <%= submit_tag "Create Class Project", class: "button button-radius small" %>
      <% end %>
    <% end %>
  </fieldset>
</div>

</p><%= pluralize(@filtered_sections.size, "Section") %> |
<%= @students.size %> Students |
<%= pluralize(@projects.size, "Project") %></p>

<div class="columns small-12 medium-8">
  <table>
    <thead>
      <th>Student Name</th>
      <th>Project Name</th>
      <th>Created</th>
      <th># of Sources</th>
      <th># of Notes</th>
    </thead>

    <tbody>
      <%= render partial: "project_table_entry", collection: @projects, as: :project %>
    </tbody>
  </table>
</div>
