<h1>Projects for <%= @section.name %></h1>

<table>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.all_collaborators.map { |i| i.username }.join(", ") %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Project', new_project_path, class: "button radius large-offset-1" %>
<p>Type in a name below to deploy a project to all students in your class</p>

<%= form_for(@section, url: create_section_project_path) do |f| %>
  <%= f.label :project_name_to_deploy, "Name for project: ", class: "right inline" %>
  <%= f.text_field :project_name_to_deploy %>
  <%= f.submit "Deploy new project" %>
<% end %>
