<h1>Projects for <%= @section.name %></h1>

<table>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_a? Teacher %>
  <p>To deploy a new project to all of your students, simply type the name of the project below!</p>

  <div class="row">
    <%= form_for(@section, url: create_section_project_path) do |f| %>
      <div class="small-2 columns">
        <%= f.label :project_name_to_deploy, "Name for project: ", class: "right inline" %>
      </div>
      <div class="small-6 columns">
        <%= f.text_field :project_name_to_deploy %>
      </div>
    <div class="small-3 columns">
      <%= f.submit "Deploy new project", class: "button small radius" %>
    </div>
    <div class="small-1 columns"></div>
  </div>
  <% end %>
<% end %>
