<h1>All Projects</h1>

<table>
  <tbody>
    <% @projects.active.each do |project| %>
      <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Mark as Inactive',
            project_path(project, inactive: true),
             confirm: "This will set the project to read-only mode. You will not be able to add new sources, notes or tags until you mark it as active, but you will be able to view existing data.",
              method: "POST",
              data: { 'continue-button-text': 'Mark Inactive' }
               %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<% if @projects.empty? %>
  <p>It looks like you don't have any projects yet...click the button below to get started!</p>
<% end %>

<br>

<% if current_user.can_create_new_projects? %>
  <%= link_to 'New Project', new_project_path, class: "button radius large-offset-1" %>
<% else %>
  <%= link_to 'Upgrade your plan', view_plans_path, class: "button radius large-offset-1" %>
  <p>You've reached your maximum number of active projects. To continue working, you
    can mark one of your projects as inactive, or you can upgrade your plan.</p>
<% end %>


<h4>Inactive Projects</h4>

<table>
  <tbody>
    <% @projects.inactive.each do |project| %>
      <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= link_to 'Mark as Active', project_path(project, inactive: false), method: "POST" %></td>
        </tr>
      <% end %>
  </tbody>
</table>
