<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Sources:</strong>
  <% @project.sources.each do |source| %>
    <div>
      <%= link_to source.title, source_path(source) %>
      <%= source.author %>
      <%= source.url %>
      <% if source.notes.any? %>
        <br>
      <% source.notes.each do |note| %>
        <%= note.quote %>
        <%= note.comments %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
