<% @project = ProjectDecorator.new(@project) %>

<%= render "layouts/project_navigation" %>

<div class="row project-overview">
  <div class="large-8 columns">
    <!-- Sources -->
    <section>
      <h3>Sources</h3>

      <div class="list-header-actions">
        <%= link_to 'Add source', new_project_source_path(@project), class: "small button radius" %>
        <%= link_to 'Bibliography', "#", data: { reveal: "", reveal_id: "bibliography"}, class: "small button radius right" if @project.sources != [] %>
      </div>

      <%= create_modal("bibliography", GenerateFullBibliography.perform(@project).bibliography.join("<br>")) %>

      <ul class="source-list">
          <% @project.sources.each do |source| %>
            <li class="source-list__item"><a href="<%= source_path(source) %>">
              <img src="<%= source.image_url %>" class="source-list__item__icon">
              <p class="source-list__item__title"><%= source.display_title %></p>
              <p><%= source.authors %></p>
              <p><%= pluralize(source.notes.length, "note") %></p>
            </a></li>
          <% end %>

          <% unless @project.sources.any? %>
            <li class="source-list__item">You don't seem to have any sources yet...try adding one by clicking above!</li>
          <% end %>
      </ul>
    </section>
    <!-- /Sources -->

    <!-- Notes -->
    <section>
      <h3>Tags</h3>
      <%= render "tags/list", taggable: @project %>
    </section>
    <!-- /Notes -->

    <!-- Contributors -->
<!--    <section>
      <% if current_user == @project.user %>
        <h3>Add Contributors</h3>
        <h3><small>Simply search for a username to let them add sources and notes - great for group projects!</small></h3>
        <%= render 'search/user_search'  %>
      <% end %>
      </section>
      -->
    <!-- /Contributors -->
  </div>

  <div class="large-4 columns">
    <!-- Thesis -->
    <section class="project-overview__thesis">
      <h3>Thesis</h3>
      <p id="read_only_thesis"><%= @project.thesis %></p>
      <%= link_to "Update your thesis", new_thesis_path(@project) %>
    </section>
    <!-- /Thesis -->

    <% if @project.due_date %>
    <!-- Due date -->
    <section class="project-overview__due-date">
    <h3>Due Date</h3>
      <%= render 'due_date' if @project.can_change_due_date %>
        <time><%= @project.due_date %></time>
        <p><%= @project.days_until_due %> days until due.</p>
        <%# '<button class="button small">Update Due Date</button>'.html_safe  %>
      </section>
      <!-- /Due date -->
  <% end %>
  </div>
</div>
