<p id="notice"><%= notice %></p>

<p>
  <h1><%= @project.name %></h1>
</p>

<p>
  Tags: <%= tags_list(@project) %>
</p>

<%= link_to 'Add Source', new_project_source_path(@project) %> | 
<%= link_to 'Back', projects_path %>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Author</th>
      <th>URL</th>
    </tr>
  </thead>

  <% if @project.sources.any? %>
    <% @project.sources.each do |source| %>
      <tr>
        <th><%# link_to source.title, source_path(source) %></th>
        <th><%# source.author %></th>
        <th><%# original_link(source) %></th>
      <% end %>
    </tr>

  <% else %>

    <tr>
      <th>Please add a source below to begin.</th>
      <th></th>
      <th></th>
    </tr>
</table>
  <% end %>
