<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
<strong>Sources:</strong>
<% if @project.sources.any? %>
  <% @project.sources.each do |source| %>
    <div>
      <%= link_to source.title, source_path(source) %>
      <%= source.author %>
      <%= source.url %>
      <% if source.notes.any? %>
        <br>
        <ul>
          <% source.notes.each do |note| %>
            <li>Quote: <%= note.quote %></li>
            <li>Comments: <%= note.comments %></li>
            <li>Tags: <%= note.tags %></li>
            <p></p> 
          <% end %>
        </ul>

      <% end %>
    <% end %>
    </div>

<% else %>
  <p>Please add a source below to begin.</p>

<% end %>
</p>

  <%= link_to 'Add Source', new_project_source_path(@project) %> | 
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
