<div class="edit-tag-modal" id="rename-tag" data-reveal>
  <%= form_for @tag, url: tags_rename_path(@tag.project, @tag.name) do |t| %>
    <p>Change name from <%= @tag.name %> to...</p>
    <%= t.text_field :name, autocomplete: 'off' %>
    <%= t.submit( "Rename", class: "small button" ) %>
    <button class="small secondary button close-reveal-modal">Cancel</button>
  <% end %>
</div>

<% content_for :javascript do %>
  <script>
    $(function() {
      $(document).on('closed', '[data-reveal]', function() {
        $(this).find('input').val('<%= @tag.name %>');
      });
    });
  </script>
<% end %>
