<h1 class="page-title">Tag: <span style="color: <%= @tag.color %>"><%= @tag.name %></span></h1>

<div class="action-bar">

  <p class="subtitle">You've written <%= pluralize(@tags.length, 'note') %> about <span style="color: <%= @tag.color %>"><%= @tag.name %></span>.</p>

  <a class="small side button" href="#" data-reveal-id="rename-tag" data-reveal>Rename tag</a>
 
  <a href="<% tags_destroy_path(@tag.project, @tag.name) %>" data-confirm="Are you sure you want to delete the tag <b><%= @tag.name %></b> from this project?" class="small side warning button">Delete tag</a>

</div>

<%= render 'notes/note_list' %>

<%= render 'rename_tag_modal' %>
