<h1 class="page-title">Tag: <span style="color: <%= @tag.color %>"><%= @tag.name %></span></h1>

<div class="action-bar">
  <p class="subtitle">You've written <%= pluralize(@tags.length, 'note') %> about <span style="color: <%= @tag.color %>"><%= @tag.name %></span>.</p>
  <div class="small side button">Rename tag</div>
  <div class="small side warning button">Delete tag</div>
</div>

<ul class="note-list">
  <% @tags.each do |tag| %>
    <li><div class="note"><a href="<%= note_path(tag.note) %>">
      <p class="note__comments"><%= truncate(tag.note.comments, :length => 100, :omission => '...') %></p>
    </a></div></li>
  <% end %>
</ul>
