<h1 class="page-title">Tag: <span style="color: <%= @tag.color %>"><%= @tag.display_name %></span></h1>

<div class="action-bar">

  <p class="subtitle">You've written <%= pluralize(@tags.length, 'note') %> about <span style="color: <%= @tag.color %>"><%= @tag.display_name %></span>.</p>

  <a class="small side button" href="#" data-reveal-id="rename-tag" data-reveal>Rename tag</a>

  <%= link_to "Delete Tag", tags_destroy_path(@tag.project, @tag.name),
    method: :delete,
    data: { confirm: "Are you sure you want to delete the tag #{@tag.display_name}?" },
    class: "small side warning button" %>

</div>

<%= render 'notes/note_list' %>

<%= render 'rename_tag_modal' %>

<% content_for :javascript do %>
<script>
  $(document).on('opened', '.edit-tag-modal', function() {
    $(this).find('#tag_name').focus();
  });
</script>
<% end %>
