<h1 class="page-title">Tag: <span style="color: <%= @tag.color %>"><%= @tag.name %></span></h1>

<div class="action-bar">
  <p class="subtitle">You've written <%= pluralize(@tags.length, 'note') %> about <span style="color: <%= @tag.color %>"><%= @tag.name %></span>.</p>
  <div class="small side button">Rename tag</div>
  <div class="small side warning button">Delete tag</div>
</div>

<%= render 'notes/note_list' %>