<h1>Projects for <%= @section.name %></h1>

<table>
        <td>Student</td>
        <td>Project Name</td>
        <td># of Sources</td>
        <td><%# link_to 'Edit', edit_project_patd(project) %></td>
        <td><%# link_to 'Destroy', project, metdod: :delete, data: { confirm: 'Are you sure?' } %></td>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.all_collaborators.map { |i| i.username }.join(", ") %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= Source.where(project_id: project).count %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

