<h1 style="text-align: center;">Cite & Write Plans</h1>


<h3 style="text-align: center; margin-top: 1em;">Start doing better research today!</h3>
<hr>

<div>
  <div class="row">
    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Learner</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>1</b> Active Project</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
          <%= form_tag "/change-plan" do %>
            <input type="text" name="new_plan" value="1_active_project" style="display: none;">

            <button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Free</span></button>
          <% end %>
        </div>

      </div>
    </div>

    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Writer</h4>
        <hr>
        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>3</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
          <%= form_tag "/change-plan", id: "payment-form" do %>
              <input type="text" name="new_plan" value="3_active_projects" style="display: none;">

            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_1fP6F3hjLbG2TbLXPuEL3jEx"
              data-amount="300"
              data-label="$3 / Month"
              data-name="Cite &amp; Write"
              data-description="3 Active Projects"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          <% end %>

        </div>

      </div>
    </div>


    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Researcher</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>5</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
          <%= form_tag "/change-plan", id: "payment-form" do %>
              <input type="text" name="new_plan" value="5_active_projects" style="display: none;">

            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_1fP6F3hjLbG2TbLXPuEL3jEx"
              data-amount="500"
              data-label="$5 / Month"
              data-name="Cite &amp; Write"
              data-description="5 Active Projects"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          <% end %>

        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="payment-card">
        <h4>The Academic</h4>
        <hr>

        <ul style="list-style: none; text-align: left;">
          <li style="text-align: center;"><b>Unlimited</b> Active Projects</li>
          <li><b>Unlimited</b> Sources</li>
          <li><b>Unlimited</b> Notes</li>
          <li><b>Unlimited</b> Tags</li>
        </ul>

        <div style="padding-bottom: 10px;">
          <%= form_tag "/change-plan", id: "payment-form" do %>
              <input type="text" name="new_plan" value="unlimited_active_projects" style="display: none;">

              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_1fP6F3hjLbG2TbLXPuEL3jEx"
                data-amount="1000"
                data-label="$10 / Month"
                data-name="Cite &amp; Write"
                data-description="Unlimited Projects"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag "/change-plan", id: "payment-form", style: "display: none;" do %>
  <div class="form-row">
    <input type="text" name="new_plan">
  </div>
<% end %>


<div style="margin: 1em;">
<p><b>In addition to the feature listed above, all plans also include:</b></p>
<ul>
  <li>Bibliography Generator</li>
  <li>Searchable Notes</li>
  <li>View research by topic or source</li>
  <li>Access to example theses to encourage higher-order thinking</li>
  <li>Free support</li>
</ul>
</div>


<h2>Payment Information</h2>
<p>All of our payments are handled by Stripe, a leader in secure digital payments. Some of their other clients include Facebook, Lyft, FitBit, and over 100,000 other companies. None of your credit card data is stored on our servers; they specialize in financial security and keeping your data safe. For that reason, if you are upgrading your plan, you may be asked to re-input your credit card information as we do not store any of it on our servers.</p>
