<div class="contain-to-grid"><nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1>
      <% if current_user %>
        <%= link_to "Cite & Write", projects_path %>
      <% else %>
        <%= link_to "Cite & Write", root_path %>
      <% end %>
    </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Top Bar Section -->
    <ul class="left">
      <% if current_user %>
        <li class="has-dropdown">

        <a href="#">Projects</a>
          <ul class="dropdown">
            <% current_user.projects.each do |project| %>
              <li><%= link_to project.name, project_path(project) %></li>
            <% end %>
            <% if current_user.can_create_new_projects? %>
              <li><%= link_to 'Add New Project', new_project_path %></li>
            <% else %>
              <li><%= link_to 'Upgrade your plan', view_plans_path %></li>
            <% end %>
          </ul>
        </li>

        <% if current_user.taught_sections.any? %>
          <li><a href="sections">Sections</a></li>
        <% end %>
      <% end %>
    </ul>


    <!-- Right Top Bar Section -->
    <ul class="right top-bar-links">
      <% if !current_user %>
        <li><%= link_to "Pricing", pricing_path %></li>
        <li><%= link_to "For Schools", for_schools_path %></li>
        <li><%= link_to "For Teachers", for_teachers_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blog_posts_path %></li>
      <% end %>
      <% if current_user %>
        <li class="has-dropdown">
          <a href="#"><%= current_user.username.capitalize %></a>
          <ul class="dropdown">
            <li><a href="<%= edit_user_path(current_user) %>">Settings</a></li>
          <% end %>
          <!-- render login/logout regardless of current_user status - yes it leaves us with unopened /ul and /li tags -->
            <%= render 'layouts/login_logout' %>
          </ul>
        </li>
    </ul>
  </section>

</nav></div>
