<div class="contain-to-grid"><nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><a href="/">SciSci</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Top Bar Section -->
    <ul class="left">      
      <% if current_user %>
        <li class="has-dropdown">

        <a href="#">Classes</a>
          <ul class="dropdown">
        <% current_user.sections.each do |section| %>
          <li><%= link_to section.name, section_path(section) %></li>
        <% end %>
          </ul>
          </li>

        <li class="has-dropdown">

        <a href="#">Projects</a>
          <ul class="dropdown">
            <% current_user.all_projects.each do |project| %>
              <li><%= link_to project.name, project_path(project) %></li>
            <% end %>
          </ul>
        </li>

      <% end %>
    </ul>
    <!-- Right Top Bar Section -->

    
    <ul class="right">      
      <% if current_user %>
        <li class="has-dropdown">
          <a href="#"><%= current_user.username.capitalize %></a>
          <ul class="dropdown">
            <li><a href="<%= edit_user_path(current_user) %>">Settings</a></li>
          <% end %>
          <!-- render login/logout regardless of current_user status - yes it leaves us with unopened /ul and /li tags -->
            <%= render 'layouts/login_logout' %> 
          </ul>
        </li>
    </ul>
  </section>

</nav></div>
