<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SciSci Notes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render 'layouts/top_bar' %>
      <br>
      <%= render 'layouts/breadcrumbs' %>

    <div class="row">
      <div class="small-10 large-10 large-offset-1 small-offset-1 columns">
        <%= render 'layouts/flash_error_messages' %>

        <%= yield %>
    <%= javascript_include_tag "application" %>
      </div>
    </div>
  </body>
</html>
