<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SciSci Notes" %></title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/top_bar' %>

    <!-- Class header -->
    <% if @section %>
      <div class="class-header">
        <div class="row">
          <div class="small-12 columns">
            <p class="class-header-title"><%= @section.name %></p>
          </div>
        </div>
      </div>
    <% end %> 
    <!-- /Class header -->

    <!-- Project nav -->
    <div class="project-nav">
      <div class="row">
        <div class="small-12 columns">
          <%= ('<h1 class="project-nav-title">' + project_title.to_s + '</h1>').html_safe %>
          <ul class="project-nav-menu">
            <%= render 'header/nav_menu' %>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Project nav -->

    <div class="row main" role="main">
      <div class="large-12 columns">
        <%= render 'layouts/flash_error_messages' %>

        <%= yield %>
        <%= javascript_include_tag "application" %>
        <%= yield :javascript %>

        <%= debug(params) if Rails.env.development? || Rails.env == "development_postgres" %>

      </div>
    </div>
  </body>
</html>
