<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">SciSci</a></h1> 
          </li>
        </ul>
      
        <%= render_crumbs %>
      </nav>

    <div class="row">
      <div class="small-8 large-10 large-offset-1 small-offset-1 columns">
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
    </div>
  </body>
</html>
